﻿@model Otus.Teaching.PromoCodeFactor.MVC.Models.PreferenceViewModel

@{
    ViewData["Title"] = "Все предпочтения";
    ViewData["ActionTitle"] = "Информация о пользователе";
}


<h1>Предпочтение</h1>

<div>
    <h4>@Model.Id</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary  btn-sm" asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a>
    <a class="btn btn-outline-primary  btn-sm" asp-action="Index">Назад к списку</a>
</div>

