﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="author" content='svs'/>
    <link rel="icon" href="~/favicon.ico"/>

    <title>@ViewData["Title"] - @ViewData["ActionTitle"] </title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/css/dashboard.css"/>


    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 ml-1" href="/">На главную</a>
    <ul class="navbar-nav  mr-auto">
        <li class="nav-item text-nowrap">
            <a class="nav-link  active" asp-action="Index">@ViewData["Title"]</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <span data-feather="home"></span>
                            Dashboard <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Preferences" asp-action="Index">
                            <span data-feather="file"></span>
                            Предпочтения
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Customers" asp-action="Index">
                            <span data-feather="users"></span>
                            Пользователи
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Partners" asp-action="Index">
                            <span data-feather="bar-chart-2"></span>
                            Партнеры
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Promocodes" asp-action="Index">
                            <span data-feather="layers"></span>
                            Промокоды
                        </a>
                    </li>
                </ul>
            </div>
        </nav>


        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2">@ViewData["ActionTitle"]</h1>
            </div>

            @RenderBody()

        </main>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->

<script src="../../../../assets/js/vendor/popper.min.js"></script>
<script src="../../../../dist/js/bootstrap.min.js"></script>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
        feather.replace()
    </script>
@RenderSection("Scripts", required: false)
</body>
</html>