﻿@model Otus.Teaching.PromoCodeFactor.MVC.Models.PromocodeFullViewModel

@{
    ViewData["Title"] = "Все промокоды";
    ViewData["ActionTitle"] = "Информация о пользователе";
}


<h1>Промокод</h1>

<div>
    <h4>@Model.Id</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceInfo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceInfo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BeginDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BeginDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PartnerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PartnerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PartnerManager)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PartnerManager.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Preference)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Preference)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary  btn-sm" asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a>
    <a class="btn btn-outline-primary  btn-sm" asp-action="Index">Назад к списку</a>
</div>

