﻿@model Otus.Teaching.PromoCodeFactor.MVC.Models.PromocodeViewModel
@{
    ViewData["Title"] = "Все промокоды";
    ViewData["ActionTitle"] = "Редактирование";
}
<h1>Промокод</h1>

<h4>@Model.Id</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control"/>
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceInfo" class="control-label"></label>
                <input asp-for="ServiceInfo" class="form-control"/>
                <span asp-validation-for="ServiceInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BeginDate" class="control-label"></label>
                <input asp-for="BeginDate" class="form-control"/>
                <span asp-validation-for="BeginDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control"/>
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartnerName" class="control-label"></label>
                <input asp-for="PartnerName" class="form-control"/>
                <span asp-validation-for="PartnerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartnerManager" class="control-label"></label>
                <input asp-for="PartnerManager" class="form-control"/>
                <span asp-validation-for="PartnerManager" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preference" class="control-label"></label>
                <input asp-for="Preference" class="form-control"/>
                <span asp-validation-for="Preference" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="Id"/>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-primary  btn-sm" asp-action="Index">Назад к списку</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
