﻿@model IEnumerable<Otus.Teaching.PromoCodeFactor.MVC.Models.CustomerViewModel>

@{
    ViewData["Title"] = "Все пользователи";
    ViewData["ActionTitle"] = "Список пользователей";
}

<p>
    <a class="btn btn-primary  btn-sm" asp-action="Create">Создать</a>
</p>
<table class="table table-striped table-sm .thead-light">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a class="btn btn-outline-primary  btn-sm" asp-action="Edit" asp-route-id="@item.Id">Изменить</a>
                <a class="btn btn-outline-primary btn-sm" asp-action="Details" asp-route-id="@item.Id">Посмотреть</a>
                <a class="btn btn-outline-primary btn-sm"asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
    }
    </tbody>
</table>
