﻿@model Otus.Teaching.PromoCodeFactor.MVC.Models.PartnerFullViewModel

@{
    ViewData["Title"] = "Все партнеры";
    ViewData["ActionTitle"] = "Информация о пользователе";
}

<h1>Партнер</h1>

<div>
    <h4>@Model.Id</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberIssuedPromoCodes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberIssuedPromoCodes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>

    <p class="col-sm-2">Лимиты</p>


    <table class="table table-striped table-sm .thead-light">
        <thead>
        <tr>
            <th>
                Дата создания
            </th>
            <th>
                Дата отмены
            </th>
            <th>
                Дата окончания
            </th>
            <th>
                Лимит
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.PartnerLimits)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CancelDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Limit)
                </td>
            </tr>
        }
        </tbody>
    </table>

</div>
<div>
    <a class="btn btn-primary  btn-sm" asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a>
    <a class="btn btn-outline-primary  btn-sm" asp-action="Index">Назад к списку</a>
</div>

